body {
    background: url('../_imgs/fundo.png');
}

div#cont {
    width: 50%;
    background-color: #f8f8e6;
    margin: auto;
    font: normal 14pt Arial, Helvetica, sans-serif;
}

img#capa {
    width: 100%;
}

div#menu {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    font-weight: bold;
    background-color: #d2d2c0;
}

a {
    text-decoration: none;
    color: rgb(43, 85, 148);
}

a.sel {
    text-decoration: underline 2.5px;
}

div#info {
    padding: 20px;
    text-align: justify;
}

div#info h1 {
    color: #a3a391;
    font-size: 18pt;
}

div#info img {
    border: 15px solid #d2d2c0;
}

div#rodape {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}