* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white url('../_imgs/fundo.png') repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    background: url('../_imgs/detalhe-topo.png') no-repeat right top;
    padding-top: 25px;
    height: 150px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url('../_imgs/logo.png');
    text-indent: -3000px;
}

/* Barra de Navegação */
a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background-color: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url('../_imgs/divisor.png') no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos
{
    color: white;
    background-color: #de003e;
    cursor: text;
}

#conteudo {
    background: #f5f5f5;
    margin-top: 60px;
}

#cont-lateral {
    width: 180px;
    float: left;
    margin: 0px 0px 20px -750px;
}

#cont-primario {
    width: 270px;
    float: left;
    margin: 0px 0px 20px 195px;
}

#duas-col #cont-primario {
    width: 555px;
}

#uma-col #cont-primario {
    width: 750px;
    margin: 0px 0px 20px 0px;
}

#cont-secundario {
    width: 270px;
    float: left;
    margin: 0px 0px 20px 15px;
}

.caixa {
    background: #f3f3f3 url('../_imgs/fundo-caixa.png');
    margin: 10px 0px;
    padding: 5px;
}

h2 {
    font-size: 1em;
    color: white;
    background-color: #294c71;
    padding: 5px;
}

.caixa-cont {
    background-color: white;
    padding: 5px;
    margin-top: 5px;
}

#cont-lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#cont-lateral ul a:hover {
    color: #a1a1a1;
    background: #f9f9f9 url('../_imgs/marcador.png') no-repeat left center;
    padding-left: 20px;
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: .9em;
    background-color: white;
}

input.submit {
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    margin: 8px 0px 5px 0px;
    cursor: pointer;
}

img.img-principal {
    width: 98%;
    border: 3px solid #dfdfdf
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: .8em;
    padding: 3px;
}

.destaque h3 {
    background-color: #b10333;
    color: white;
}

.entrevista h3 {
    background-color: #de003e;
}

/* Formatação lista de notícias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    font-size: .8em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a p {
    font-size: .7em;
    color: black;
}

#lista-noticias li:hover {
    background: #eee;
}

/* Rodapé */
#cont-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
}