* {
    margin: 0;
    padding: 0;
}

/* Background and font */
body {
    background-color: #2ea5d4;
    font-family: Verdana, Arial, sans-serif;
}

.box {
    background-color: whitesmoke;
    border-radius: 10px;
}

/* First div */
#content-box {
    width: 550px;
    margin: 20px auto 20px auto;
    padding: 10px 8px;
}

/* Title */
h1 {
    text-align: center;
    font-size: 30px;
}

/* Form */
form {
    background-color: #b5eaff;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto 10px auto;
}

/* Label and inputs */
label {
    background-color: #0a7eb4;
    color: whitesmoke;
    border-radius: 3px;
    padding: 2px 6px 3px 6px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
}

input {
    padding: 5px 0;
    text-indent: 8px;
    border-radius: 5px;
    border: 1px solid #949494;
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Analyze button */
button {
    width: 70%;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    background-color: #08c6e7;
    padding: 8px 0;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition: .4s;
    color: #ebebeb;
}

button:hover {background-color: #099cc9;}

/* Second div */
#content-box2 {
    margin: 0 auto;
    width: 500px;
}

h2 {
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}

#res {
	text-align: center;
	font-size: 18px;
	margin: 15px 0 10px 0;
}

p {
    padding-bottom: 10px;
}

span {color: #b10000;}