* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#1a7e1a, #004900) fixed;
    font-family: 'Trebuchet MS', sans-serif;
}

/* Content box */
main {
    background: whitesmoke;
    width: 400px;
    margin: 25px auto 0 auto;
    padding: 8px;
    border-radius: 10px;
}

/* Title */
h1 {
    text-align: center;
    font-size: 28px;
    margin: 10px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Content */
div {
    background: rgb(117, 218, 117);
    padding: 18px 15px;
    border-radius: 10px;
}

label, button {display: block;}

label {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    background: rgb(28, 145, 28);
    padding: 4px 5px;
    color: whitesmoke;
    border-radius: 5px;
}

/* insert number field */
input {
    font-size: 20px;
    padding: 8px 0;
    text-indent: 10px;
    margin: 20px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: whitesmoke;
}

/* Button "CALCULATE" */
button {
    width: 90%;
    margin: 0 auto;
    font-size: 22px;
    padding: 6px 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background: #12af12;
    color: whitesmoke;
    border-radius: 8px;
    border: 1px solid transparent;
}

button:hover {background-color: #119b11;}

/* Result text */
p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.p-style {margin: 20px 0;}

/* Back link */
a {
    font-size: 18px;
    text-decoration: none;
}

a:hover {text-decoration: underline;}