body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background: #643d87 url('../_imgs/fundo.jpg') no-repeat top center;
}

#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 10px;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

/* Inserindo uma imagem de background no campo de Login */
input.email {
    background-image: url('../_imgs/icone-usuario.png');
}

/* Inserindo uma imagem de background no campo de Senha */
input.senha {
    background-image: url('../_imgs/icone-cadeado.png');
}

input.btn {
    color: white;
    background-color: #f79300;
    border: 2px solid #db7d00;
    cursor: pointer;
    padding: 5px 20px;
    width: 90%;
    height: 45px;

    background: linear-gradient(to bottom, #faa600, #f68a00);
}